*,
*::before,
*::after {
    box-sizing: border-box;
}

.body {
    background-color:  #c4e3fd;
}
/* nav bar */
.nav {
    display: block;
    text-align: right;
}
.nav > a {
    text-decoration: none;
    color: black;
}

.nav > a:visited {
    color: purple;
}

/* intro */
.intro {
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    line-height: 700px;
    color: white;
    height: 700px;
    background-image: url(https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2560&q=80);
    background-repeat: no-repeat;
    background-position: center top;
}

/* My works */
/* hover 效果：https://blog.csdn.net/qq_43517388/article/details/109291317 */



/* footer */
.footer {
    background-color: grey;
}

.footer__link {
    display: block;
    text-align: center;
}

.footer__link:link {
    color: black
}

.social_list {
    display: block;
    text-align: center;
}